<% provide(:title, "ユーザー検索") %>
<div class="background-color">
  <div class="container">
    <h1 class="text-center user-index-heading">ユーザー検索</h1>
    <div>
      <%= form_tag(search_users_path,:method => 'get') do %>
        <div class="user-index-search-form">
          <%= text_field_tag :search, "", {class: "user-index-field"} %>
          <%= submit_tag 'ユーザー名検索', :name => nil, class: "btn-search btn-primary" %>
        </div>
      <% end %>
    </div>
    <% @users.each do |user| %>
      <ul>
        <li class="user-index-profile">
          <div class="user-index-profile-content">
            <%= image_tag user.image.url, :size =>'50x50', class: "users-index-user-image" %>
            <%= link_to user.username, user, class: "users-index-username btn-hover" %>
          </div> 
        </li>
      </ul>
    <% end %>
    <div class="all-paginate">
      <%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    </div>
  </div>
</div>