<% provide(:title, @user.username) %>
<div class="background-color">
  <div class="container">
    <div class="user-profile">
      <div class="show-username">
        <h3><%= @user.username %></h3>
      </div>
      <div class="show-image">                                                     
        <%= image_tag @user.image.url, class: "profile-image" %>
      </div>
      <% if @user.introduce.present? %>
        <h5>自己紹介</h5>
        <div class="show-introduce">
          <%= simple_format(@user.introduce) %>
        </div>
      <% end %>
      <div class="user-show-follow-form">
        <%= render 'follow_form' if user_signed_in? %>
      </div>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% if current_user == @user %>
        <div class="show-profile-setting">
          <%= link_to "Profile settings", edit_user_registration_path, class: "profile-setting"  %>
        </div>
      <% end %>
      <%= render "review_index" %>
      <div class="user-paginate">
        <%= will_paginate @review_albums, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
      </div>
    </div>
  </div>
</div>