<% provide(:title, "メッセージ") %>
<div class="background-color">
  <div class="container">
    <div class="room-users">
      <h5 class="font-weight-bold">メッセージルーム</h5>
      <% @entries.each do |e| %>
        <p><strong><a href="/users/<%= e.user.id %>", class="text-dark"><%= image_tag e.user.image.url, :size =>'50x50', class: "message-users" %><%= e.user.username%></a></strong></p>
      <% end %>
    </div>
    <hr>
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="row">
          <div class="col-lg-12">
            <%= image_tag m.user.image.url, :size =>'30x30', class: "small-user" %>
            <%= m.user.username %>
          </div>
          <div class="col-lg-12">
            <div class="balloon2-top">
              <p><%=simple_format(m.content)%></p>
            </div>
            <div class="col-lg-12">
              <% if current_user? m.user %>
                <%= link_to "削除", message_path(m.id), method: :delete,
                data: { confirm: "本当に削除しますか？" }, class: "message-destroy" %>
              <% end %>
            </div>
            <hr>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render 'form' %>
  </div>
</div>

<script>
  setTimeout(function() {
      window.scroll(0,$(document).height());
  },0);
</script>